<div ng-controller="ContactsCtrl" class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="btn-group pull-right">
                <a class="btn btn-primary" ng-click="new()"><i class="icon-plus icon-white"></i> New Contact</a>
            </div>
            <h2>Address Book</h2>
        </div>

        <div class="span6 pull-right" ng-class="{well: contact.id != null}">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"><h4>{{alert.title}}</h4>
                {{alert.msg}}
            </alert>

            <div class="alert alert-info" ng-show="contact.id == null">
                Select a contact to edit by clicking on a table row.
            </div>
            <div ng-show="contact.id != null" ng-include="'contacts/contactForm.html'"></div>
        </div>

        <div class="span6">
            <div class="input-prepend input-block-level">
                <span class="add-on"><i class="icon icon-search"></i></span>
                <input type="text" class="" placeholder="Search..." ng-model="search.$"/>
            </div>
            <table class="table table-striped table-hover" id="contactOverview">
                <thead>
                <tr>
                    <th><a href="" ng-click="predicate = 'forename'; reverse=!reverse">First Name</a>
                        (<a href="" ng-click="predicate = '-forename'; reverse=!reverse">^</a>)
                    </th>
                    <th><a href="" ng-click="predicate = 'surname'; reverse=!reverse">Last Name</a></th>
                    <th><a href="" ng-click="predicate = 'company'; reverse=!reverse">Company</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="c in contacts | filter:search | orderBy:predicate:reverse"
                    ng-click="select(c)">
                    <td>{{c.forename}}</td>
                    <td>{{c.surname}}</td>
                    <td>{{c.company}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>