<% include ../header %>

<div class="row-fluid">
    <% include toolbox %>

    <div class="span9">
        <h1><%= model.contSurname %>, <%= model.contForename %>
            <a class="btn btn-primary" href="/staff/<%= model.servId %>/edit"><i class="icon-edit icon-white"></i>
                Edit</a>
        </h1>

        <% include ../common/contactProfile %>

        <h2>Appointment Availabilities</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Day</th>
                <th>Shift Start</th>
                <th>Break Start</th>
                <th>Break End</th>
                <th>Shift End</th>
            </tr>
            </thead>
            <tbody>
            <% model.servHrs.forEach(function(hours){ %>
            <% include serviceHoursTableRow %>
            <%}) %>
        </table>
    </div>
    <!--/span-->
</div>
<% include ../footer %>