<div class="span8">
    <h2><%= model.contForename %> <%= model.contSurname %>
        <a class="btn btn-primary pull-right" href="/staff/<%= model.servId %>">
            <i class="icon-edit icon-white"></i>
            Edit
        </a>
    </h2>
    <hr>
    <p><%- model.servBio.replace(/\n([ \t]*\n)+/g, '</p><p>').replace('\n', '<br/>') %></p>
    <hr>
</div><!--/span-->
<div class="clearfix"></div>
