<% include header %>
<div class="hero-unit">
    <h1>Error: 404 - Resource Not Found</h1>
    <p>The requested resource could not be found.  Please ensure the URL has been correctly written.</p>
    <p>If you strongly believe this should not be the case, please contact an administrator.</p>
</div>
<% include footer %>