<% include header %>
<div class="hero-unit">
    <h1>Error: 500 - Database Error</h1>

    <p>There has been an error interacting with the database. It is possible that the requested record has been removed
        or never existed.</p>

    <p>The fault has been logged and an administrator will look into a resolution.</p>

</div>
<% include footer %>