<% include header %>

<h1>About</h1>
<p>Shear-N-Dipity offers the ultimate all round experience. Our highly trained and fictitious salon stylests
    can offer advice on the latest trends, catering to every need you can imagine.</p>
<p> Delivering the best imaginary service to you is what's important to us.</p>
<p>
    We are situated in the heart of North Queensland, within the confines of Townsville's city limits.
</p>
<% include footer %>