</div><!--/.fluid-container-->
<div id="push"></div>

</div>
<div id="footer">
    <div class="container">
        <p class="muted credit">CP2013 | Alexander Scott, Melinda Kingsun, Timothy Hart.</p>
    </div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/timepicker.js"></script>

<script src="/js/bootstrap-datepicker.js"></script>

<script src='/js/jquery-ui-1.10.3.custom.min.js'></script>
<script src='/js/fullcalendar.min.js'></script>

<script src='/js/calendars.js'></script>

</body>
</html>
