</div><!--/.fluid-container-->
<div id="push"></div>

</div>
<div id="footer">
    <div class="container">
        <p class="muted credit">CP2013 | Alexander Scott, Melinda Kingsun, Timothy Hart.</p>
    </div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-timepicker.min.js"></script>

<script src="/js/bootstrap-datepicker.js"></script>

<script>


    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
        $('.timepicker').timepicker({
            defaultTime: 'value',
            minuteStep: 15,
            showInputs: false,
            disableFocus: true,
            template: 'dropdown',
            showMeridian: false
        });
    });
</script>
</body>
</html>
