</div><!--/.fluid-container-->
<div id="push"></div>

</div>
<div id="footer">
    <div class="container">
        <p class="muted credit">CP2013 | Alexander Scott, Melinda Kingsun, Timothy Hart.</p>
    </div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/timepicker.js"></script>

<script src="/js/bootstrap-datepicker.js"></script>

<script src='/js/jquery-ui-1.10.3.custom.min.js'></script>
<script src='/js/fullcalendar.min.js'></script>

<script>

    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });

        $('.timepicker').timepicker({
            step:15,
            at_row:8,
            active_from:'00:00',
            active_to:'23:45',
            alarm_from: '00:00',
            alarm_to: '00:00'
        });


        var sources = [];

        if ($('#calendar').length > 0) {
            var sources = [];

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({


                defaultView: 'agendaWeek',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaWeek,agendaDay'
                },
                editable: false,
                columnFormat: {
                    month: 'ddd',
                    week: 'ddd d',
                    day: ''
                },
                events: function (start, end, callback) {
                    if (start < new Date())
                        start = new Date();

                    var startString = start.getFullYear() + '-' + ("0" + (start.getMonth() + 1)).slice(-2) + '-' + ("0" + start.getDate()).slice(-2);
                    var endString = end.getFullYear() + '-' + ("0" + (end.getMonth() + 1)).slice(-2) + '-' + ("0" + end.getDate()).slice(-2);
                    $.ajax({
                        url: '/api/staff/available/' + startString + '/' + endString,
                        success: function (doc) {
                            var events = doc;
                            callback(events);
                        }
                    });
                },

                viewRender: function (view, element) {
                    var minDate = new Date();
                    if (view.start <= minDate) {
                        $('#calendar .fc-button-prev').addClass('fc-state-disabled');
                    } else {
                        $('#calendar .fc-button-prev').removeClass('fc-state-disabled')
                    }
                }

            });
        }

    });
</script>
</body>
</html>
