<% include header %>
<div class="row-fluid">

    <%
    var isEditing = false;
    var buttonLabel = 'Create';
    var formTitle = 'New Appointment';
    var actionParam = '/appointments';
    %>
    <% include ./common/calendarBookingForm %>
</div>
<% include footer %>