<div class="nav-collapse collapse">
    <ul class="nav">
        <li class="<% if(currentItem === '/'){ %> active <% } %>"><a href="/">Home</a></li>
        <li class="<% if(currentItem.startsWith('/staff')){ %> active <% } %>"><a href="/staff">Our Staff</a></li>


    </ul>
    <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Administration <b
                    class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li class="nav-header">Scheduled Appointments</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/appointments">Agenda View</a>
                </li>
                <li role="presentation" class="divider"></li>


                <li class="nav-header">Contacts</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/contacts">Address Book</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/contacts/new">Register New</a>
                </li>
                <li role="presentation" class="divider"></li>


                <li class="nav-header">Staff</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/staff">Staff Listing</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/staff/new">Register New</a>
                </li>
                <li role="presentation" class="divider"></li>


                <li class="nav-header">Configuration</li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/appointments/types">Manage Appointment Types</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="/appointments/types/new">Register Appointment Type</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!--/.nav-collapse -->





