<h2>{{action}}: {{type.description}}
    <a class="btn btn-danger pull-right" ng-click="remove()">
        <i class="icon-remove icon-white"></i>
    </a>
</h2>
<div class="clearfix"></div>
<fieldset>
    <legend>General</legend>
    <div class="controls">
        <label class="control-label">Description</label>
        <input type="text" class="input-block-level" placeholder="Description" ng-model="type.description" required>

        <div class="control-group input-append">
            <input type="text" data-show-meridian="false" class="span6" ng-model="type.duration" bs-timepicker>
            <button type="button" class="btn" data-toggle="timepicker"><i class="icon-time"></i></button>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="controls controls-row">
        <button type="submit" class="btn btn-primary" ng-click="process()">Save</button>
        <button type="submit" class="btn btn-danger" ng-click="clear()">Cancel</button>
    </div>
</fieldset>