<div class="row-fluid">
    <div class="span8 pull-right" ng-class="{well: contact.contactId != null}">
        <div class="alert alert-info" ng-show="type.typeId == null">
            Select a type to edit by clicking on a table row, or click the '+' button to create a new type.
        </div>
        <div ng-show="type.typeId != null" ng-include="'types/types.form.tpl.html'"></div>
    </div>

    <div class="span4 gridStyle" ng-grid="gridOptions">
        <h3>Types <a class="btn btn-primary pull-right" ng-click="prepareNew()"><i class="icon-plus icon-white"></i></a>
        </h3>

        <div class="input-prepend input-block-level">
            <span class="add-on"><i class="icon icon-search"></i></span>
            <input type="text" class="" placeholder="Search..." ng-model="filterOptions.filterText"/>
        </div>
    </div>
</div>
