.root {
    -fx-font-size: 11pt;
    -fx-background-color: #fafafa;
    -fx-text-fill: #333;
}

.button {
    -fx-padding: 4 10;
    -fx-font-weight: bold;
    -fx-border-radius: 4;
    -fx-border-width: 1px;
    -fx-border-color: #bababa;

    -fx-background-color: #efefef;
    -fx-text-fill: #454545;
}

.button .text {
    -fx-effect: dropshadow(one-pass-box, #fff, 0, 0.0, 0, 1);
}

.button:focused {
    -fx-text-fill: rgb(8, 72, 135);
}

.button:hover {
    -fx-text-fill: #000;
    -fx-background-color: #9c9c9c;
}

.button:pressed {
    -fx-background-color: #838383;
}

.label, .label-header, .label-slogan, .label-field {
    -fx-text-fill: #454545;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.label-header {
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.label-slogan {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
    -fx-border-color: #333;
    -fx-border-style: hidden hidden dashed hidden;
}

.label-field {
    -fx-text-alignment: right;
    -fx-alignment: center-right;
    -fx-font-weight: bold;
    -fx-min-width: 100;
    -fx-pref-width: 100;
}

.grid, .button_box {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-spacing: 10;
}

.button_box {
    -fx-background-color: #dedede;
}



.menu-item:focused {
    -fx-background-color: hotpink;
}

.menu-item .label {
    -fx-text-fill: #000000;
}
.menu-item:focused .label {
    -fx-text-fill: pink;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: pink;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.menu .label
{
    -fx-text-fill: hotpink;
    -fx-effect: inherit;
}

.statusBar {
    -fx-text-fill: #fafafa;
    -fx-background-color: #333;
}

.statusBar .combo-box .arrow, .statusBar .combo-box .arrow-button, .statusBar .combo-box .list-cell{
    -fx-text-fill: #fafafa;
}

.statusBar .combo-box .arrow-button,{
    -fx-background-color: deeppink;
}
.statusBar .combo-box{
    -fx-min-width: 250;
    -fx-pref-width: 250;
    -fx-background-color: deeppink;
}