.gridStyle {
  height: 550px;
  border: none;
}

.sidebar-nav {
  padding: 9px 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#wrap {
  margin: 0 auto -35px;
}

#push {
  height: 35px;
}

#footer {
  height: 35px;
  position: relative;
}

code {
  font-size: 80%;
}

@media (max-width: 980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
}

@media (min-width: 980px) {
  #wrap > .container, #wrap > .container-fluid {
    padding-top: 60px;
  }
}

.form-horizontal & > [class*="span"] {
  margin-left: 0;
}

[class*="pull-right"] + [class*="span"] {
  margin-left: 0;
}

.row-fluid {
  .span12 {
    margin-left: 0;
  }
}

.row-fluid [class*="span"]:first-of-type {
  margin-left: 0;
}

code {
  font-size: 80%;
}

[class*="span"] & > [class*="row"] {
  margin-left: 0;
}

.input-prepend.input-block-level {
  display: table;
  width: 100%;
  & > input {
    box-sizing: border-box;
    height: 30px;
    display: table-cell;
    width: 100%;
    border-left-style: none;
  }
  .add-on {
    display: table-cell;
    background-color: white;
  }
}

.container {
  .credit {
    margin: 20px 0;
  }
}

.gmap3 {
  border: 1px dashed #C0C0C0;
  height: 300px;
}