<%
var isEditing  = (typeof model != 'undefined' && model.appId != 'undefined' ) ? true : false;
var buttonLabel = isEditing ? 'Update' : 'Book';
var formTitle = isEditing ? 'Updating Appointment: ' + model.appId : 'New Appointment';
var actionParam = isEditing ? '/appointments/' + model.appId : '/appointments';
%>

<% include ../header %>
<div class="row-fluid">
    <% include toolbox %>
    <% include ../common/calendarBookingForm %>
</div>
<!--/span-->
<% include ../footer %>