<%
var isEditing  = (typeof model != 'undefined' && model.contId != 'undefined' ) ? true : false;
var buttonLabel = isEditing ? 'Update' : 'Create';
var formTitle = isEditing ? 'Editing : ' + model.contSurname + ',' + model.contForename : 'New Contact';
var actionParam = isEditing ? '/contacts/' + model.contId : '/contacts';
%>

<% include ../header %>
<div class="row-fluid">
    <% include toolbox %>

    <div class="span9">

        <% include ../common/formHeader %>
        <% include ../common/contactForm %>
        <% include ../common/formActions %>
        <% include ../common/formFooter %>

    </div>

</div>
<!--/span-->
<% include ../footer %>