<%
var isEditing  = (typeof model != 'undefined' && model.appTypeId != 'undefined' ) ? true : false;
var buttonLabel = isEditing ? 'Update' : 'Create';
var formTitle = isEditing ? 'Editing : ' + model.appTypeDescription : 'New Appointment Type';
var actionParam = isEditing ? '/appointments/types/' + model.appTypeId : '/appointments/types';
%>

<% include ../header %>
<div class="row-fluid">
    <% include toolbox %>

    <div class="span9">

        <% include ../common/formHeader %>
        <fieldset>
            <legend>General</legend>
            <div class="control-group">
                <label class="control-label" for="appTypeDescription">Description</label>

                <div class="controls">
                    <input class="span10" type="text" id="appTypeDescription" name="model[appTypeDescription]"
                           placeholder="Description"
                           value="<% if(isEditing){ %><%= model.appTypeDescription %><% } %>">
                </div>
                <label class="control-label" for="appTypeDuration">Duration</label>

                <div class="controls">
                    <input id="appTypeDuration"
                           type="text"
                           name="model[appTypeDuration]"
                           class="timepicker8 input-small"
                           value="<% if(isEditing){ %><%= model.appTypeDuration %><% }else{ %>00:00<% } %>"
                            >
                </div>
                <div class="controls">

                    <label class="checkbox">
                        <input type="checkbox"
                               name="model[appTypeAllDay]"
                               value=""
                        <% if(isEditing && model.appTypeAllDay){ %>checked<% } %>
                        > All day event
                    </label>
                </div>
            </div>
        </fieldset>
        <% include ../common/formActions %>
        <% include ../common/formFooter %>

    </div>

</div>
<!--/span-->
<% include ../footer %>