<div class="row-fluid">
    <div class="span6 well">
        <h3>What We Know About You</h3>
        <fieldset>
            <legend>User Details</legend>

            <div class="controls">
                <label class="control-label">Name</label>
                <input type="text" class="span6" placeholder="Name" ng-model="user.name" required>
                <input type="text" class="span6" placeholder="Surname" ng-model="user.surname" required>
                <div>
        </fieldset>
        <fieldset>
            <legend>Additional Information</legend>
            <div class="controls">
                <label class="control-label">Company</label>
                <input type="text" class="input-block-level" placeholder="Company" ng-model="user.company">
                <label class="control-label">Email</label>
                <input class="input-block-level" type="email" placeholder="you@domain.com" ng-model="user.email">
                <label class="control-label">Phone</label>
                <input class="input-block-level" type="text" placeholder="(07) 0000 0000" ng-model="user.phone">
            </div>
        </fieldset>
        <fieldset>
            <legend>Address</legend>
            <div class="controls">
                <label class="control-label">Street</label>
                <input class="input-block-level" type="text" placeholder="123 Street Name" ng-model="user.address">
            </div>

            <div class="controls">
                <label class="control-label">Suburb</label>
                <input class="input-block-level" type="text" placeholder="Suburb" ng-model="user.suburb">
            </div>

            <div class="controls">
                <label class="control-label">City/Town</label>

                <input class="span6" type="text" placeholder="City" ng-model="user.city">
                <select class="span3" ng-model="user.state">
                    <option></option>
                    <option>ACT</option>
                    <option>NSW</option>
                    <option>NT</option>
                    <option>QLD</option>
                    <option>SA</option>
                    <option>TAS</option>
                    <option>VIC</option>
                    <option>WA</option>
                </select>
                <input class="span3" type="text" placeholder="POST" ng-model="user.post">
            </div>

        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary pull-right"
                    ng-click="tryUpdate()">
                Update Profile
            </button>
        </div>
    </div>

    <div ng-class="{well: user.address}" class="span6" ng-if="user.address" ng-include="'profile/Local.profile.address.tpl.html'"></div>

</div>





