<div class="span3">
    <% include formHeader %>

    <div class="control-group">
        <label class="control-label">Date</label>

        <div class="controls">
            <input type="text" id="appointmentDate" name=""
                   placeholder="Please select from agenda" disabled
                    />
            <input type="hidden" id="appointmentDateValue" name="model[appDate]" value=""/>

        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Staff Member</label>

        <div class="controls">
            <input type="text" id="staffMemberName"
                   value=""
                   placeholder="Please select from agenda" disabled
                    />
            <input type="hidden" id="staffMemberId" name="model[servId]" value=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Contact</label>

        <div class="controls">
            <select id="contactControlList" name="model[contId]">
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Appointment Type</label>

        <div class="controls">
            <select id="appointmentTypeList" name="model[appTypeId]">
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Appointment Time</label>

        <div class="controls">
            <input type="text"
                   id="appointmentTime"
                   name="model[appTime]"
                   class="timepicker hidden"
                   placeholder="Click to see available times"
                   value=""
                    >
        </div>
    </div>


    <% include formActions %>

    <% include formFooter %>
</div>