<h1><%- formTitle %></h1>

<% if (req.validationErrors() != null) {%>
<p class="text-error">
    Error(s) were detected in the form. Please review the follow:
<ul>
    <% req.validationErrors().forEach(function(err){ %>
    <li><%- err.msg %></li>
    <%}) %>
</ul>
</p>
<% } %>

<form class="form-horizontal" method="post" accept-charset="utf-8"
      action="<%= actionParam %>">
    <% if (isEditing) {%>
    <input type="hidden" name="_method" value="put" id="_method"/>
    <%}%>