<div class="span6">
    <fieldset>
        <legend>Employment Details</legend>

        <div class="control-group">
            <label class="control-label" for="servInitiated">Employment Date</label>

            <div class="controls">
                <input type="text" id="servInitiated" name="model[servInitiated]"
                       placeholder="2013-01-30"
                       value="<% if(isEditing){ %><%= model.servInitiated %><% }else {  %><%= new Date().toISOString().slice(0,10) %><% } %>"
                       class="datepicker"
                        >
            </div>

            <label class="control-label" for="servTerminated">Termination Date</label>

            <div class="controls">
                <input type="text" id="servTerminated" name="model[servTerminated]"
                       placeholder="2013-01-30"
                       value="<% if(isEditing){ %><%= model.servTerminated %><% } %>" class="datepicker"
                        >
            </div>
        </div>

    </fieldset>
</div>

<div class="span12">
    <fieldset>
        <legend>Public Profile</legend>
        <textarea
                class="span12"
                name="model[servBio]"
                id="provBio"
                placeholder="Public Staff Profile"
                rows="5"
                ><% if(isEditing){ %><%= model.provBio %><% } %></textarea>
    </fieldset>
</div>


<div class="span12">
    <fieldset>
        <legend>Appointment Availabilities</legend>

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Usage Notes</h4>
            If all times are the same for any given day, it will be assumed the staff member will not be available on
            that day.
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Day</th>
                <th>Shift Start</th>
                <th>Break Start</th>
                <th>Break End</th>
                <th>Shift End</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Monday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][1][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][1][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][1][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][1][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][2][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][2][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][2][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][2][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][3][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][3][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][3][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][3][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][4][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][4][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][4][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][4][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            <tr>
                <td>Friday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][5][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][5][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][5][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][5][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][6][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][6][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][6][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][6][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][7][start]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][7][break]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][7][breakEnd]"
                                                        class="timepicker input-small" value=""></td>
                <td class="bootstrap-timepicker"><input type="text" name="model[servHours][7][end]"
                                                        class="timepicker input-small" value=""></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>


<div class="clearfix"></div>
