<% include ../header %>

<div class="row-fluid">
    <% include toolbox %>

    <div class="span9">
        <h1><%= model.appTypeDescription %>
            <a class="btn btn-primary" href="/appointments/types/<%= model.appTypeId %>/edit"><i class="icon-edit icon-white"></i>
                Edit</a>
        </h1>

        <% include ../common/contactProfile %>
    </div>
    <!--/span-->
</div>
<% include ../footer %>