<tr>
    <td><%= model.appTypeDescription %></td>
    <td><%= model.appTypeDuration %></td>
    <td style="text-align: right"><%= model.total %></td>
    <td>
        <a class="btn btn-primary pull-right" href="/appointments/types/<%= model.appTypeId %>/edit">
            <i class="icon-pencil icon-white"></i> Edit
        </a>
    </td>
</tr>
