<h2>{{action}}: {{contact.name}} {{contact.surname}} <a class="btn btn-danger pull-right" ng-click="remove()"><i
        class="icon-remove icon-white"></i></a></h2>
<div class="clearfix"></div>
<fieldset>
    <legend>General</legend>
    <div class="controls">
        <label class="control-label">Name</label>
        <input type="text" class="span6" placeholder="Name" ng-model="contact.name" required>
        <input type="text" class="span6" placeholder="Surname" ng-model="contact.surname" required>
        <label class="control-label">Company</label>
        <input type="text" class="input-block-level" placeholder="Company" ng-model="contact.company">
    </div>
</fieldset>

<fieldset>
    <legend>Contact Details</legend>
    <div class="controls">
        <input class="span6" type="email" placeholder="you@domain.com" ng-model="contact.email">
        <input class="span6" type="text" placeholder="(07) 0000 0000" ng-model="contact.phone">
    </div>
</fieldset>

<fieldset>
    <legend>Address</legend>
    <div class="controls">
        <label class="control-label">Street</label>
        <input class="input-block-level" type="text" placeholder="123 Street Name" ng-model="contact.address">

        <label class="control-label">Suburb</label>
        <input class="input-block-level" type="text" placeholder="Suburb" ng-model="contact.suburb">
    </div>

    <div class="controls controls-row">
        <label class="control-label">City/Town</label>

        <input class="span6" type="text" placeholder="City" ng-model="contact.city">
        <select class="span3" ng-model="contact.state">
            <option></option>
            <option>ACT</option>
            <option>NSW</option>
            <option>NT</option>
            <option>QLD</option>
            <option>SA</option>
            <option>TAS</option>
            <option>VIC</option>
            <option>WA</option>
        </select>
        <input class="span3" type="text" placeholder="POST" ng-model="contact.post">
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger right" ng-click="clear()">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right" ng-click="process()">Save</button>

    </div>
</fieldset>

